* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  /* background: lightgrey; */
  background: lightgrey url('../images/achtergrond.jpeg') repeat;
}

header {
  background-image: url('../images/header-achtergrond.jpeg');
  height: 150px;
}

header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: right;
}

nav ul {
  background: #787878;
}

nav ul li {
  background: #787878;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  /* border: solid 2px white; */
  display: inline;
}

nav ul li a {
  font-size: 150%;
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  background-color: #A0A0A0;
}
