* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  /* background: lightgrey; */
  background: lightgrey url('../images/achtergrond.jpeg') repeat;
}

header {
  background-image: url('../images/header-achtergrond.jpeg');
  height: 70px;
  width: 80%;
  position: fixed;
  z-index: 10;
}

header h1 {
  font-size: 400%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: right;
}

nav {
  position: fixed;
  width: 80%;
  top: 70px;
  z-index: 10;
}

nav ul {
  background: #787878;
}

nav ul li {
  background: #787878;
  padding-left: 10px;
  padding-right: 10px;
  /* padding-top: 4px; */
  /* border: solid 2px white; */
  display: inline-block;
}

nav ul li a {
  font-size: 150%;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #E0E0E0;
}

nav ul li:hover {
  background-color: #808080;
}

section {
  padding: 5px;
  margin: 5px;
  /* border: double 4px black; */
}

section article {
  border: 3px solid black;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
  float: left;
  width: 40%;
}

section article h2 {

}

section article p {

}

footer {
  position: fixed;
  bottom: 0px;
  z-index: 0;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 80%;
}

.content{
  position: absolute;
  top: 100px;
  width: 80%;
  z-index: 5;
}
